<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <div id="border">
        <h1>Javon Peart's Flask Assignment</h1>
        <br>
        <p>Hello Reader!</p>
        <p>My name is Javon Peart and I am Computer Scientist. I intend to become a Cyber Security Analyst becuase that is were me passion in Tech lies.</p>
        <img src="{{ url_for('static', filename='couple.jpg') }}" alt="Man Walking Image">
    </div>
</body>
</html>